@import "compass";
@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

div {
	background: image-url('icon/phone.png')
}

.icon-phone {
	height: 128px;
	width: 128px;
}