@import "normilize";

/* 
 * Main styles
 */

$red_color: #ffe5e5;
$green_color: #e6ffe6;
$border_radius: 4px;

@function border_color($color) {
	@return desaturate(darken($color, 25%), 50%);
}

@mixin colored_box($color: white) {
	@extend .box;
	background-color: $color;
	border-color: border_color($color);
}

body {
	padding: 30px;
	font-family: "Helvetica Hueu", sans-serif;
	font-size: 14px;
}

.box {
	margin: 0 auto 25px;
	border: 1px solid border_color(white);
	padding: 15px;
	$border_radius: 6px; /* Overrides */
	border-radius: $border-radius; /* - === _ */

	em {
		text-decoration: underline;
	}
}

.important {
	@include colored_box($red_color);
}

.success {
	@include colored_box($green_color);
}