@import "normilize";

/* 
 * Main styles
 */

$red_color: #ffe5e5;
$green_color: #e6ffe6;
$border_radius: 4px;

body {
	padding: 30px;
	font-family: "Helvetica Hueu", sans-serif;
	font-size: 14px;
}

.box {
	margin: 0 auto 25px;
	border: 1px solid;
	padding: 15px;
	$border_radius: 6px; /* Overrides */
	border-radius: $border-radius; /* - === _ */

	em {
		text-decoration: underline;
	}
}

.important {
	@extend .box;
	background-color: $red_color;
	border-color: desaturate(darken($red_color, 25%), 50%); /* Coloring */
}

.success {
	@extend .box;
	$green_color: #e6ffe6 !default; /* Does not overrides anything */
	background-color: $green_color;
	border-color: desaturate(darken($green_color, 25%), 50%);
}