@import "normilize";

/* 
 * Main styles
 */
body {
	padding: 30px;
	font-family: sans-serif;
	font-size: 14px;
}

.box {
	margin: 0 auto 25px;
	border: 1px solid;
	padding: 15px;
	border-radius: 6px;
	em {
		text-decoration: underline;
	}
}

.important {
	@extend .box;
	background-color: #ffe5e5;
	border-color: red;
}

.success {
	@extend .box;
	background-color: #e6ffe6;
	border-color: green;
}